
# dependencies
/emart2/node_modules

# testing
/coverage

# production
/emart2/build
/emart2/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*

/.github